version: 2

jobs:
  build:
    docker:
      - image: dideler/fish-shell:3.0.0
    shell: fish
    steps:
      - checkout
      - run:
          name: Install fisher
          command: |
            apt-get update --quiet
            apt-get install --yes --quiet curl
            curl -sLo ~/.config/fish/functions/fisher.fish --create-dirs git.io/fisher
            fisher --version
      - run:
          name: Install gh
          command: |
            fisher add < fishfile
            fisher add (pwd)
      - run:
          name: Run tests
          command: fishtape test/*.fish
